/* HEADER */

.main-container {
    max-width: 80vw;
    height: 100vh;
    

}

.header {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    overflow: hidden;
    width: 100%; 
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 20px 20px;
    height: 30px;
    margin-left: 330px;
}

.header__arrows {
   display: flex;
   align-items: center;
   gap: 5px;
}

.arrow__left {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.arrow__right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

 .header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
}

.header__search:hover {
    border: 1px solid #fff;
}

.header__content {
    display: flex;
    justify-content: space-between;
    float: right;
    gap: 30px;    
}

.header__title {
    color: #9e9e9e;
    align-items: center;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
}

.header__title:hover {
    transform: scale(1.06) perspective(1px);
    color: #fff;
}

.header__button {
    height: 50px;
    border-radius: 25px;
    width: 110px;
    padding: 8px;
    font-weight: 700;
    font-size: 15px;
    align-items: center;
}

.header__button:hover {
    transform: scale(1.06) perspective(1px);
}

/* PLAYLISTS */

.cards__playlist {
    display: flex;
    position: absolute;
    width: 100%;
    height: 92vh;
    color: #fff;
}

.cards__content {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 8px;
    padding: 20px 20px;
    width: 100%;
    margin: 90px 10px 10px 320px;   
}

.cards__title {
    font-size: 30px;  
    margin-top: 10px;
}

.cards__subtitle {
    margin-top: 40px;
    font-size: 20px;
}

/* SCROLL */
.offer__scroll-conteiner {
    max-height: 100vh;
    margin: 30px 24px 20px 24px;
    overflow-y: auto;
}

.offer__scroll-conteiner::-webkit-scrollbar {
    width: 1px;
}

.offer__scroll-conteiner::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* FIM SCROLL */

.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-bottom: 0px;
}

.cards {
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.cards span {
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

/* COLLOR CARDS */
.card1  {
    background-color: rgb(0,100,80);
}
.card2 {
    background-color: rgb(132, 0, 231);
  }
  .card3 {
    background: rgb(30, 50, 100);
  }
  .card4 {
    background: rgb(140, 25, 50);
  }
  .card5 {
    background: rgb(232, 17, 91);
  }
  .card6 {
    background: rgb(83, 122, 161);
  }
  .card7 {
    background: rgb(142, 102, 172);
  }
  .card8 {
    background: rgb(20, 138, 8);
  }
  .card9 {
    background: rgb(30, 50, 100);
  }
  .card10 {
    background: rgb(233, 20, 41);
  }
  .card11 {
    background: rgb(80, 55, 80);
  }
  .card12 {
    background: rgb(216, 64, 0);
  }
  .card13 {
    background: rgb(186, 93, 7);
  }
  .card14 {
    background: rgb(0, 30, 80);
  }
  .card15 {
    background: rgb(60, 30, 80);
  }
  /* FIM COLOR CARDS */

.offer__list-item img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 107px;
    transform: rotate(25deg) translate(18%, -2%);
}